<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Dashboard</title>
</head>
<body>
<h1>Welcome, <span th:text="${loggedInEmployee.name}">Employee Name</span></h1>

<div>
    <a href="/employee/profile"><button>Profile</button></a>
    <a href="/employee/update"><button>Update</button></a>
    <a href="/employee/attendance"><button>Attendance</button></a>
    <a href="/employee/payment"><button>Payment Details</button></a>
    <a href="/employee/leave"><button>Apply Leave</button></a>
    <a href="/employee/logout"><button>Logout</button></a>
</div>
</body>
</html>
